.App {
  text-align: center;
}

.App-header {
  background-color: #83259d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.main-container {
  display: flex;
  background-color: #7f259d;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  background-color: #7f259d;
  justify-content: center;
  flex-direction: column;
}

.city-name {
  background-color: darkorchid;
  margin-top: 4%;
  width: 50%;
  height: max-content;
  color: aliceblue;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.mini-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
}
